body {
	font-family: Arial, Helvetica, sans-serif;
	color: #868686;
	background-color: #eeeeee;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

p {
	font-size: 16px;
	line-height: 25px;
	padding: 0;
    margin: 0 0 15px 0;
    text-align: justify;
}

a {
	color: #363636;
	text-decoration: none;
	opacity: 1;
	outline: none;
}

a:hover {
	text-decoration: none;
	color: #efefef;
}


strong {
    color: #363636;
}

* {
    box-sizing: border-box;
}

.background {
    background: url('bg4.jpg') no-repeat center center;
    width: 100%;
    height: 65vmin;
    position: relative;
    background-attachment: fixed;
    background-size: cover; 
}

.iconhead {
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    margin-top: -75px;
    background: #304fff;
    
}

.iconhead img {
    width: 100%
}

.about {
    margin: 10px 120px 50px 120px;
    align-content: center;
}

.about .title {
	font-size: 30px;
	font-weight: 100;
	line-height: 44px;
    color: #363636;
    text-align: center;
}

.about .subtitle {
	margin: 7px 0 0 0;
    font-size: 16px;
    font-style: italic;
	font-weight: 100;
	color: #363636;
    text-align: center;
}

.title2 {
    padding: 0 0 60px 0;
    align-content: center;
    font-size: 28px;
	font-weight: 100;
	line-height: 44px;
    color: #363636;
    text-align: center;
}

.title3 {
    padding: 0 0 60px 0;
    align-content: center;
    font-size: 28px;
	font-weight: 100;
	line-height: 44px;
    color: #363636;
    text-align: center;
}

.rangka {
    margin: 0 120px 80px 120px;
    clear: both;
    float: left;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
}

.rangka2 {
    margin: 0 120px 0 120px;
    clear: both;
}

.rangka2 img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.rangka2 p {
    text-align: center;
    font-size: 20px;
    font-weight: 1000;
    margin: 0 auto;
    padding-top: 20px;
}

.rangka2 .sedang {
    font-size: 16px;
    padding-top: 5px;
}

.rangka2 .kecil {
    font-size: 14px;
    padding-top: 5px;
}

.rangka .icon {
    position: relative;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    margin-top: -40px;
    border: 5px solid #eeeeee;
    background: #304fff;
}

.rangka .icon .fa {
    font-size: 27px;
    color: #ffffff;
    padding: 27px;
}

#sekolah1 {
    width: 49%;
    float: left;
    background-color: #ffffff;
    clear: both;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14);
    margin-bottom: 100px;
    height: 450px;
    border-top: 8px solid #304fff;
    text-align: center;
}

#sekolah2 {
    width: 49%;
    float: right;
    background-color: #ffffff;
    margin-bottom: 100px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14);
    height: 450px;
    border-top: 8px solid #304fff;
    text-align: center;
}

#sekolah3 {
    width: 49%;
    float: left;
    background-color: #ffffff;
    clear: both;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14);
    margin-bottom: 100px;
    height: 450px;
    border-top: 8px solid #304fff;
    text-align: center;
}

#sekolah4 {
    width: 49%;
    float: right;
    background-color: #ffffff;
    margin-bottom: 100px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14);
    height: 450px;
    border-top: 8px solid #304fff;
    text-align: center;
}

.sekolahlogo {
    margin: 0 auto;
    align-items: center;
    background: #dadada;
    height: 250px;
    
}

.sekolahlogo img {
    height: 190px;
    padding-top: 15px;
}

#icon {
    position: relative;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    margin-top: -50px;
    border: 5px solid #eeeeee;
    background: #304fff;
}

#icon .fa {
    font-size: 27px;
    color: #ffffff;
    padding: 27px;
}

.profile {
    padding: 25px;
    width: 50%;
    height: 300px;
    float: left;
    background-color: #ffffff;    
}

.experience {
    padding: 25px;
    width: 50%;
    height: 300px;
    float: left;
    background-color: #ffffff;
}

.experience .btn {
    margin-top: 45px;
    padding: 11px;
    width: 118px;
    height: 40px;
    float: right;
    background-color: #304fff;
    color: #ffffff;    
}

.experience .btn:hover {
    margin-top: 45px;
    padding: 11px;
    width: 118px;
    height: 40px;
    float: right;
    background-color: #ffffff;
    color: #304fff;
    border: 1px solid #304fff;    
}

.logo4vm {
    padding: 25px;
    width: 40%;
    height: 250px;
    float: left;
    background-color: #ffffff;  
}

.logo4vm img {
    width: 100%;
    margin-left: 25px;
}

.detail {
    padding: 5px 30px 0 80px;
    width: 60%;
    height: 250px;
    float: left;
    background-color: #ffffff;
}

.detail h1 {
    color: #304fff;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: -15px;
}

.detail h2 {
    color: #000000;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 20px 0 -5px 0;
}

.detail h3 {
    color: #e5e5e5e5;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 10px 0 -5px 0;
}

.detail p {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 9px 0 0 0;
}

.skil1 {
    padding: 25px;
    width: 49%;
    float: left;
    background-color: #ffffff;
    clear: both;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14);
    margin-bottom: 100px;
    height: 450px;
}

.skil2 {
    padding: 25px;
    width: 49%;
    float: right;
    background-color: #ffffff;
    margin-bottom: 100px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14);
    height: 450px;
}

.skills p {
	font-size: 20px;
	line-height: 25px;
	padding-top: 10px;
    margin: 0 0 15px 0;
    color: #363636;
    text-align: center;
}

.icon {
    position: relative;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    margin-top: -70px;
    border: 5px solid #eeeeee;
    background: #304fff;
}

.icon .fa {
    font-size: 27px;
    color: #ffffff;
    padding: 27px;
}

ol,
ul {
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0px;
}

li {
	margin-bottom: 0px;
}

.profile ul li {
	padding: 15px 0 15px 130px;
	position: relative;
	font-size: 14px;
	color: #363636;
	font-weight: 400;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.profile ul li strong {
	padding: 0 10px 0 0;
	position: absolute;
	top: 14px;
	left: 0;
	display: block;
	width: 115px;
}

.profile ul li strong span {
	padding: 2px 5px;
	background: #304fff;
	color: #fefefe;
	font-weight: 400;
	
}

.skills ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.skills ul li {
	padding: 12px 0 14px 0;
	font-weight: 400;
}

.skills ul li .name {
	margin: 0 0 6px 0;
	position: relative;
	display: block;
	font-size: 14px;
	color: #363636;
}

.skills ul li .progress {
	position: relative;
	display: block;
	width: 100%;
	height: 8px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
}

.skills ul li .progress .percentage {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 8px;
	background: #304fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
}

.skills ul li .progress .percentage .percent {
	position: absolute;
	top: -9px;
	right: 0;
	height: 26px;
	width: 26px;
	line-height: 26px;
	text-align: center;
	background: #304fff;
	border-radius: 26px;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
	-khtml-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.skills ul li .progress .percentage .percent .fa {
	
	color: #fefefe;
}

